/*
    Vasco Madrid and Sarah Sunderman
    CSCE 567 Project 1
    style.css
*/

#chart-area svg {
    margin:auto;
    display:inherit;
  }
  text {
    font: 10px sans-serif;
  }
  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }

h1,h2{
    font-family: Courier, monospace
}
